.chat {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.chat .chat-message {
  width: 70%;
  padding: 15px;
  margin: 5px 0px 0px;
  border-radius: 10px;
  border-top-left-radius: 0;
  font-size: 20px;
}

.bot .tooltip-bot {
  position: relative;
  margin-left: -7px;
}

.tooltip-bot::before {
  content: '';
  position: absolute;
  height: 15px;
  width: 27px;
  background: var(--White);
  top: 22px;
  right: 380px;
  transform: rotate(61deg);
  border-bottom: 2px solid var(--Black);
  border-left: 2px solid var(--Black);
}